<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>FacebookAppID</key>
	<string>1798013920444407</string>
	<key>NSLocationAlwaysUsageDecription</key>
	<string>We place pins for you!</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>FacebookDisplayName</key>
	<string>Emblem</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1798013920444407</string>
			</array>
		</dict>
	</array>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>privacy - location usage description</key>
	<string>We place pins for you!</string>
	<key>UIAppFonts</key>
	<array>
		<string>Neuton-Bold</string>
		<string>Neuton-ExtraBold</string>
		<string>Neuton-ExtraLight</string>
		<string>Neuton-Italic</string>
		<string>Neuton-Light</string>
		<string>Neuton-Regular</string>
		<string>OpenSans-Bold</string>
		<string>OpenSans-BoldItalic</string>
		<string>OpenSans-ExtraBold</string>
		<string>OpenSans-ExtraBoldItalic</string>
		<string>OpenSans-Italic</string>
		<string>OpenSans-Light</string>
		<string>OpenSans-LightItalic</string>
		<string>OpenSans-Regular</string>
		<string>OpenSans-Semibold</string>
		<string>OpenSans-SemiboldItalic</string>
		<string></string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We place pins for you!</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
</dict>
</plist>
